{% extends 'base.html.twig' %}

{% block body %}
    <div id="slash" class="container slash">
        <div class="row">
            <div class="col-md-12 text-center titlePortfolio">
                <h1>Портфолио</h1>
            </div>
        </div>
    </div>
{% endblock %}