@import "~bootstrap/scss/bootstrap";
body {
  background-color: #F8FAFF;
}

.container {
  max-width: 100vw;
  padding: 0 50px;
}

h2 {
  font-family: Archivo, sans-serif;
  color: #3964F9;
  font-weight: bold;
  font-size: 68px;
  line-height: 130%;
}

p {
  color: #323232;
}

//.homeClass img{
//  width: 100%;
//}

.white-backgraund {
  //background: white;
  position: relative;
  //width: 100px;
  //height: 50px;
}

.letter-I{
  background-image: url(/images/block_I/letter-I.svg);
  background-repeat: no-repeat;
  background-position: 80%;
}

.white-backgraund::before {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  border: 100vh solid transparent;
  border-left: 65vw solid white;
  border-top: 15vw solid white;
}

.letter-I .title{
  font-weight: bold;
  font-size: 96px;
  line-height: 130%;
  color: #323232;
  margin-top: 150px;
}

.letter-I .text {
  margin-top: 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
  color: #323232;
}

.letter-I img {
  margin: 75px 0;
}

.letter-I .btnBlue {
  width: 224px;
  height: 50px;
  background: #3964F9;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(57, 100, 249, 0.3);
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 150%;
  padding: 0.8rem;
  margin-top: 40px;
}

.letter-I-block {
  margin-top: 100px;
}

.letter-I-block .block, .slash .block {
  background: #FFFFFF;
  border-radius: 20px;
}

.letter-I-block .block object, .slash .block object{
  padding: 40px;
}

.letter-I-block .block p{
  padding: 0 40px 40px 40px;
}

.letter-Q, .slash, .letter-D, .letter-E, .letter-V, .footerClass {
  background-repeat: no-repeat;
  background-position: 80% 80px;
  padding: 30px 0;
}

.letter-Q {
  background-image: url(/images/block_Q/letter_Q.svg);
  height: 800px;
  //background-size: contain;
  display: flex;
  align-items: center
}

.letter-Q h2 {
  //position: absolute;
  //top: 100%;
  //transform: translate(0, -100%);
  padding-bottom: 20px;
}

.letter-Q p, .slash p {
  padding-top: 20px;

}

.textBold {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;

}

.slash {
  background-image: url(/images/slash/slash.svg);
}

.slash h2, .letter-D h2, .letter-D .block, .letter-E h2, .letter-V h2, .letter-V .mapContact {
  margin-top: 215px;
  padding-bottom: 20px;

}

.slash p {
  padding-bottom: 100px;
}

.slash .block {
  margin: 0 0 30px 0;
 }

.slash .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin: auto 0;
  color: #323232;

}

.slash .text{
  padding: 0 40px 57px 57px;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #323232;
}

.letter-D {
  background-image: url(/images/block_D/letter_D.svg);
  background-color: white;
}

.letter-D .title {
  font-size: 12px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #323232;
  max-width: 105px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.letter-E p{
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.letter-E {
  background-image: url(/images/block_E/letter_E.svg);
}

.letter-E .textBold, .letter-V .textBold {
  font-size: 21px;
  padding-right: 86px;
}

.letter-E .projects {
  padding-top: 60px;
}

.letter-E .projects img {
  margin: 25px 0;
  border: 15px solid #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(57, 100, 249, 0.1);
}

.letter-E h3 {
  font-family: Archivo, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #323232;
  padding-bottom: 30px;
}

.letter-E .buttonProject {
  width: 223px;
  height: 50px;
  color: white;
  background: #3964F9;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(57, 100, 249, 0.3);
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.letter-E .buttonProject span {
  margin: auto;
  display: flex;
  align-items: center;
}

.letter-E .buttonProject object {
  margin-right: 10px;
}

.letter-V {
  background-image: url(/images/block_V/letter_V.svg);
  background-color: white;
}

.letter-V h4 {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #323232;
  padding-top: 40px;
}

.letter-V p{
  font-family: Archivo, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  padding-top: 18px;
}

.footerClass{
  background-color: white;
}

.letter-V object {
  padding-top: 20px;
  padding-right: 30px;
}

.footerClass p {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footerClass .rightClass {
  text-align: right;
}

.menuClass p, .homeClass p, .homeClass a {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.menuClass .text{
  padding-top: 200px;
}

.menuClass .row {
  padding-bottom: 15px;
}

.homeClass .row {
  min-height: 150px;
}

.localeRight a {
  text-align: right;
}

@media (min-width: 1600px) {

  .white-backgraund::before {
    //border-left: 1500px solid white;
    //border-top: 210px solid white;
  }
}

